body {
    background-color: #FF0093;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

input, button {
    background: #ccc;
    margin: 5px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #191970;
    border-bottom: solid 5px #191970; 
    color: white;
}

tr:nth-child(even) {
    background-color: #ccc;
}

button {
    background: #FF4500;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
}

.success {
    background-color: #04AA6D;
}

.info {
    background-color: #0b7dda;
    
}



